<nav class="desktop-nav">
  <div class="nav-left">
    <ul class="nav-links">
      <li>
        <a href="#/" class="primary-nav-link active">FOOD</a>
      </li>
      <li>
        <a href="/travel" class="primary-nav-link">TRAVEL</a>
      </li>
      <li>
        <a href="/art" class="primary-nav-link">ART</a>
      </li>
    </ul>
  </div>
  <div class="nav-right">
    <ul class="user-links">
      <li>
        <a href="#" class="user-nav-link">Login</a>
      </li>
      <li>
        <a href="#" class="primary-nav-link">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
