<div class="banner group">
  <div class="banner-inner">
      <h1>
         YOUR FOOD GUIDE TODAY
      </h1>
      <h2>
         Your one-stop shop for food ideas.
         <br>
         Trending EatOuts. Restaurant suggestions. Browse recipes.
      </h2>
      <section class="banner-form">
        <form name="resform" id="resform" ng-submit="save()">
            <legend>Enter Your ZIP Code For Suggestions</legend>
             <div class="form-ele-fl">
                <input type="text" placeholder="ZIP Code" ng-model="zipcode" size=50 required/>
             </div>

              <div class="form-ele-btn form-ele-fl">
                   <button type="submit" class="button calltoaction">Save</button>
              </div>
              <div class="clb"></div>
        </form>
    </section>
    </div>
</div>
<div class="secondary-nav">
    <ul class="secnav-links">
      <li>
        <a href="#/blog" class="sec-nav-link">Blog</a>
      </li>
      <li>
        <a href="#/bookmarks" class="sec-nav-link">Bookmarks</a>
      </li>
    </ul>
</div>
<div id="content-wrapper"  class="group">

  <div class="how group">
      <section class="info">
        <p>
          Find out what are the Trending
          <br>
          Restaurants in your area.
        </p>
      </section>
      <section class="info">
        <p>
          Tell what dish you want to eat today
          <br>
          and
          <br>
          get suggestions for places serving it.
        </p>
      </section>
      <section class="info">
        <p>
          Browse recipes for your favorite dish
          <br>
          or
          <br>
          search from your saved recipes.
        </p>
      </section>

  </div>


</div>
